// Colors
$primary-color: #0091BF;
$secondary-color: #5000FF;
$black-color: #000000;
$background-color: #ffffff;
$text-color: $black-color;

// Fonts
$font-primary: 'MORTEND', 'Impact', 'Arial Black', sans-serif;
$font-secondary: 'Poppins', sans-serif;

// Breakpoints
$mobile: 768px;
$tablet: 1024px;
$desktop: 1440px;

// Transitions
$transition-default: all 0.3s ease; 