// Colors
$primary-color: #0091BF;
$secondary-color: #5000FF;
$black-color: #000000;
$background-color: #ffffff;
$text-color: $black-color;

// Fonts
$font-primary: 'MORTEND', 'Impact', 'Arial Black', sans-serif;
$font-secondary: 'Poppins', sans-serif;


@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'MORTEND';
    src: url('../assets/fonts/Mortend\ -\ Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MORTEND';
    src: url('../assets/fonts/Mortend\ -\ Extrabold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

// Breakpoints
$mobile: 768px;
$tablet: 1024px;
$desktop: 1440px;

// Transitions
$transition-default: all 0.3s ease; 